<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dhruvisha Vara</title>
<style type="text/css">
body {
	background: #156c5b;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-weight: 700;
}

.contain {
	text-align: center;
	background: #fff5ec;
	width: 450px;
	padding-bottom: 30px;
	border-radius: 30px;
	color: #156c5b;
}

.btn {
	background: #156c5b;
	color: #fff5ec;
	padding: 5px 15px;
	border: 2px solid #156c5b;
}

.input {
	background: #156c5b;
	color: #fff5ec;
	border: 2px solid #156c5b;
}
</style>
</head>
<body>
	<div class="contain">
		<h1>Set Password</h1>

		<div th:if="${success}">
			<p style="color: green;" th:text="${success}"></p>
		</div>
		<div th:if="${error}">
			<p style="color: red;" th:text="${error}"></p>
		</div>

		<form th:action="@{/set-password}" method="post">
			Password: <input type="password" name="password" class="input" required />
			<br /><br />
			<button type="submit" class="btn">Save</button>
		</form>
	</div>
</body>
</html>
